In [ ]:
fname = input('isikan nama awal')
mname = input('isikan nama tengah')
lname = input('isikan nama akhir')

print('selamat datang',fname,mname,lname,"S.kom")

isikan nama awalnadzar
isikan nama tengahhadi

In [4]:
bill1 = input('isikan bilangan 1:')
bill2 = input('isikan bilangan 2:')
print(type(bill1))
hasil = int (bill1) + int (bill2)
print ('hasil penjumlahan', hasil)

isikan bilangan 1:4
isikan bilangan 2:5
<class 'str'>
hasil penjumlahan 9

In [3]:
#luas => p*l
#keliling => 2 * (p+l)

p = input('masukan angka pada pesegi')
l   = input('masukan angka pada persegi')

Luas    = int(p) * int(l)
Keliling = 2 * (int(p) + int(l))

print('Luas Persegi Panjang',Luas)
print('keliling dari pesegi panjang',Keliling)

masukan angka pada pesegi4
masukan angka pada persegi5
Luas Persegi Panjang 20
keliling dari pesegi panjang 18

In [1]:
print("senin","selasa","rabu","kamis","jumat","sabtu","minggu",sep="@",end="^_^")
print("one","two","three","four","five",sep="\n")

senin@selasa@rabu@kamis@jumat@sabtu@minggu^_^one
two
three
four
five

In [2]:
number1 = 7
number2 = 15

#hasil perkalian 7 dengan 15 adalah 105
print("perkalian {} dengan {} adalah {}". format(number1,number2,number1 * number2))

perkalian 7 dengan 15 adalah 105

In [5]:
first_letter = "A"
middle_letter = "B"
last_letter = "C"

print("urutan huruf {1}{2}{0}". format(first_letter,middle_letter,last_letter))

urutan huruf BCA

In [8]:
#sekarang tanggsal 20 bulan maret tahun 2024
print("sekarang tanggal {tanggal} bulan {bulan} tahun {tahun}". format(tanggal=20,bulan="Maret",tahun=2024))

sekarang tanggal 20 bulan Maret tahun 2024

In [18]:
kampus = "Universitas Nusa Putra"
print("huruf pertama adalah :",kampus[0])
print("huruf terakhir adalah :",kampus[-1])
print("huruf range 0-10 :",kampus[0:11])
print(kampus[-5:])
print(kampus[12:])
#reverse string
print(kampus[::-1])

huruf pertama adalah : U
huruf terakhir adalah : a
huruf range 0-10 : Universitas
Putra
Nusa Putra
artuP asuN satisrevinU

In [8]:
#split => string => list
kota = "Jakarta Sukabumi Malang Bandung Surabaya"
list_kota = kota.split()
print(list_kota)
print(list_kota[4])
#join => list => string
join_kota = "@".join(list_kota)
print(join_kota)

['Jakarta', 'Sukabumi', 'Malang', 'Bandung', 'Surabaya']
Surabaya
Jakarta@Sukabumi@Malang@Bandung@Surabaya

In [21]:
#isikan nama anda : Nadzar Hadi
# isikan tanggal lahir : 14/06/2002
#OUTPUT
#nama awal : nadzar
#nama akhir : hadi
#tgl lahir : 1
#bulan lahir : 06
#tahun lahir : 2002
#nama inisial : NH

nama = input("Masukan nama anda")
tanggal = input("Masukan tanggal lahir")

list_nama = nama.split()
list_tanggal = tanggal.split("/")
print("nama awal :" ,list_nama[0])
print("nama akhir :" ,list_nama[1])
print("tanggal lahir :" ,list_tanggal[0])
print("bulan lahi :" ,list_tanggal[1])
print("tahun lahir :" ,list_tanggal[2])


inisial = list_nama[0][0] + list_nama[1][0]
print("nama inisial :", inisial)

Masukan nama andanadzar hadi
Masukan tanggal lahir12/12/43
nama awal : nadzar
nama akhir : hadi
tanggal lahir : 12
bulan lahi : 12
tahun lahir : 43
nama inisial : nh